<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.0"
        id        = "com.tickTackHack.cBioPortalMobile"
        versionCode="1" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->
	
    <name>cBioPortal Mobile</name>

    <description>
        Unofficial mobile app for the cBio Portal cancer genome database.
    </description>

    <author href="https://j-mal.com" email="github.congos@xoxy.net">
        Jamal Theodore
    </author>
    
	<gap:platform name="android" />
	<gap:platform name="blackberry" />
	<gap:platform name="winphone" />

    <preference name="permissions" value="none"/>

	<icon src="resources/icons/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:density="ldpi" />
	<icon src="resources/icons/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
	<icon src="resources/icons/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
	<icon src="resources/icons/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
    
	<access origin="http://www.cbioportal.org" />
	<content src="index.html" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
	
	<preference name="BackgroundColor" value="0xef0000ff"/>
	<preference name="LoadingDialog" value="Loading. Please wait..."/>
	<preference name="LoadUrlTimeoutValue" value="20000"/>
</widget>