<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.0"
        id        = "com.tickTackHack.PhonegapTutorial"
        versionCode="1" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->
	
    <name>cBio Portal Mobile</name>

    <description>
        Query the cBio Portal cancer genomic database.
    </description>

    <author href="https://j-mal.com" email="github.congos@xoxy.net">
        Jamal Theodore - tickTackHack - The George Washington University
    </author>
	<access origin="*" subdomains="true" />
	<content src="index.html" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
	
	<preference name="BackgroundColor" value="0xff0000ff"/>
	<preference name="LoadingDialog" value="Loading. Please wait..."/>
	<preference name="LoadUrlTimeoutValue" value="20000"/>
</widget>