<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.tickTackHack.HIVE-Reconnoiter"
        versionCode="1" 
        version   = "0.8.8">
	<preference name="phonegap-version" value="3.3.0" />
    <!-- versionCode is optional and Android only -->
	
    <name>HIVE Genecast</name>

    <description>
        Human gene variation information for mobile devices.
    </description>

    <author href="https://j-mal.com" email="github.congos@xoxy.net">
        Jamal Theodore (GWU)
    </author>
    
    <gap:plugin name="org.apache.cordova.device" />
	<gap:platform name="android" />
	
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    
    <icon src="icon.png" />
	<icon src="res/drawable-hdpi/hiveicon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/drawable-ldpi/hiveicon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/drawable-mdpi/hiveicon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/drawable-xdpi/hiveicon.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="res/drawable-xxdpi/hiveicon.png" gap:platform="android" gap:density="xxhdpi" />
	
	
	<gap:splash src="splash.png" />
    
    <access origin="http://hive.biochemistry.gwu.edu" />
    <access origin="http://*.gwu.edu" />

	<content src="index.html" />
	<preference name="WebViewBounce" value="true" />
	<preference name="orientation" value="portrait" />
	
	<preference name="BackgroundColor" value="0xEE00FF"/>
	<preference name="LoadingDialog" value="Loading. Please wait..."/>
	<preference name="LoadUrlTimeoutValue" value="20000"/>
</widget>