.ui-page {
	background: #FFFFF0 ;
}


.ui-page .ui-header {
	background: #FFF0C5;
}

h1 {
	color: #000 !important;
}

h2 {
	font-size: 1.2em !important;
	margin: 2px !important;
}

#biomuta #controls .ui-input-text  {
	width: 200px !important;
	margin-right: 4x !important;
}


#biomuta #controls #btn_biomuta_sbt {
	width: 100px;
}

table #biomuta-table {
	background: #EEEEEE !important;
}

#textarea_gene_set {
	width: 175px !important;
	height: 100px !important;
	float: left !important;
}

table {
	margin: auto !important;
}

.defaultText { width: 150px; }

.defaultTextActive { 
	color: #a1a1a1; 
	font-style: italic; 
}
    

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td {
  background-color: rgba(0,0,0,0.04);
}

/* Add stroke to the header and last item */
.table-stripe thead th {
 	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
 	background-color: rgba(225,225,225,1); 
}


#homemenu {
	position: absolute;
	top: 40%;
	margin-left: 20%;	
}

#hivelogo {
	
}

#goBackButton {
	float: left;
	maring-left: 5px;
}


