.ui-page {
	background: #FFFFF0;
}

.ui-bar-a {
	background-color: #FFF0C5;
	background-image: none;
	border: none;
	color: #000;
	text-shadow: 0;
	/*height: 42px;*/
}

/*
.ui-header .ui-title {
	font-size: 20px;
	text-overflow: clip;
	margin-left: 10px;
	margin: 5px;
	width: 130px;
}
*/
#textarea_gene_set {
	width: 175px !important;
	height: 100px !important;
	float: left !important;
}

h2 {
	/*margin-top: 4px !important;*/
	/*margin-bottom: 4px !important;*/
}

.reconnoiter-screen-btn {
	float: right !important;
	width: 150px !important;
}

.defaultText { width: 150px; }

.defaultTextActive { 
	color: #a1a1a1; 
	font-style: italic; 
}
    

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td {
  background-color: rgba(0,0,0,0.04);
}

/* Add stroke to the header and last item */
.table-stripe thead th {
 	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#homemenu {
	position: absolute;
	top: 40%;
	margin-left: 20%;	
}

#screen-title {
	margin-bottom: 10px;
	margin-left: 30px;
	font-size: 1.2em; 
}

#hivelogo {
	
}

#goBackButton {
	float: left;
	maring-left: 5px;
}


