.ui-page {
	background: #FFFFF0;
}

.ui-bar-a {
	background-color: #FFF0C5;
	background-image: none;
	border: none;
	color: #000;
	text-shadow: 0;
	height: 42px;
}

.ui-header .ui-title {
	font-size: 20px;
	text-overflow: clip;
	margin-left: 10px;
	margin: 5px;
	width: 130px;
}

#homemenu {
	position: absolute;
	top: 40%;
	margin-left: 20%;	
}

#screen-title {
	margin-bottom: 10px;
	margin-left: 30px;
	font-size: 1.2em; 
}

#hivelogo {
	
}

#goBackButton {
	float: left;
	maring-left: 5px;
}


