.ui-page {
	background: #FFFFF0;
}
.ui-bar-a {
	background-color: #FFF0C5;
	background-image: none;
	border: none;
	color: #000;
	text-shadow: 0;
	height: 40px;
}


.ui-header .ui-title {
	font-size: 20px;
	text-overflow: clip;
	margin-left: 10px;
	margin: 5px;
}

.homemenu {
	margin: 0 auto;
	margin-top: 30%;
	
}
