.ui-bar-a {
	background-color: #FFF0C5;
	background-image: none;
	border: none;
	color: #000;
	text-shadow: 0;
	height: 30px;
}

.ui-header .ui-title {
	font-size: 20px;
	text-overflow: clip;
	margin-right: 10%;
	float: right;
}