.ui-page {
	background: #FFFFF0 ;
}


.ui-page .ui-header {
	background: #FFF0C5;
}

.ui-content {
	font-size: 0.95em !important;
	padding: 5px !important;	
}

.ui-title {
	margin-right: 10% !important;
}

h1 {
	color: #000 !important;
	/*font-size: 1.3em !important;*/
}

h2 {
	font-size: 1.1em !important;
	margin: 2px !important;
	padding-top: 5px !important;
	padding-bottom: 2px !important;
}

h3 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 0.95em;
}

a {
	color: black !important;	
}

#controls, .controls-container {
	padding-left: 20px;	
}

#controls .geneInputBtn, .queryInputField  {
	width: 100px !important;
	margin-right: 4x !important;
}


#biomuta #controls #btn_biomuta_sbt {
/*	width: 100px;*/
}

table #biomuta-table {
	background: #EEEEEE !important;
}

#textarea_gene_set {
	width: 175px !important;
	height: 100px !important;
	float: left !important;
}

table {
	margin: auto !important;
}

.defaultText { width: 150px; }

.defaultTextActive { 
	color: #a1a1a1; 
	font-style: italic; 
}
    

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td {
  background-color: rgba(0,0,0,0.04);
}

/* Add stroke to the header and last item */
.table-stripe thead th {
 	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
 	background-color: rgba(225,225,225,1); 
 		text-align:center;

}

#biomuta-header-table tbody tr, .header-table tbody tr {
	font-size: 12px;	
}

#biomuta-table tbody tr, .results-table tbody tr {
	font-size: 0.75em;
	text-align: center;
}

.results-table td {
text-align: center;
}

#biomuta-table tbody  {
	text-align:center;
}

#biomuta-detail-table #td-status {
	height: 30px;
  	line-height: 30px;
}

#biomuta-detail-table a {
	color: #0000FF !important;
}

.invalid-msgs {
	display: none;
	font-size: 11 px;
	color: red;	
}

#homemenu {
	position: absolute;
	top: 40%;
	margin-left: 20%;	
}

.header-hivelogo {
	float: left !important;
	margin-left: -5px !important;
}

#goBackButton {
	float: left;
	margin-left: 5px;
}

.results-container {
	display: none;
}

#btn_update_genecast, #btn_update_pubcast {
	border: 1px solid #000000;
	margin: auto;
	margin-top: 5px;
	width: 80%;
	color: #000000;
	border-radius:5px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #449DEF 0%, #2F6699 45%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #449DEF 0%, #2F6699 45%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #449DEF 0%, #2F6699 45%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #449DEF), color-stop(0.45, #2F6699));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #449DEF 0%, #2F6699 45%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #449DEF 0%, #2F6699 45%);
}

#btn_update_genecast .ui-btn-text, #btn_update_pubcast .ui-btn-text {
	color: #FFFFFF;
}

#update .ui-btn-up-c {
	text-shadow: 0 1px 0 #000000 !important;
}
